<div [@openPage] class="center err">
    <p class="red-text">Ошибка {{ error }}</p>
    <div *ngIf="error == 404; then err404"></div>
    <div *ngIf="error == 501; then err501"></div>
</div>

<ng-template #err404>
    <p>К сожалению, такой страницы нет на сайте. Возможно Вы неправильно набрали адрес.</p>
</ng-template>

<ng-template #err501>
    <p>Очень странно, если Вы видите эту страницу, значит Ваша покупка <span class="red-text">НЕ БЫЛА</span> успешно обработана
        сервером.
    </p>
    <p>Это может быть из-за различных браузеров <span class="m_grey">особенно мобильных</span>.</p>
    <p>Попробуйте зайти в корзину и еще раз отправить заказ, <span class="m_grey">предварительно заполнив поля</span>.</p>
    <p>Либо позвонить по указанным телефонам <span class="m_grey">"Контакты"</span> и продиктовать заказ.</p>
    <p> А мы со своей стороны, постараемся решить вопрос с этой досадной ошибкой, как можно скорее.</p>
    <p>Спасибо за понимание.</p>
</ng-template>