
.price{
    font-size: 1.2em;
    font-weight: bold;
}

.size{
    font-size: 1.5em;
}

.name{
    font-size: 1.2em;
    font-weight: bold;
}

.stripped{
    text-decoration: line-through;
    color: #ffb84d;
}