<div [@openPage] class="row z-depth-4 ">
    <div class="center">
        <h4 class="headerName">Вход:</h4>
    </div>
    <form class="col s12" #loginForm="ngForm" novalidate (ngSubmit)="onSubmit(loginForm)">

        <div class="row">
            <div class="input-field col l6 m8 s12 offset-l3 offset-m2">
                <input id="username" type="text" minlength="3" class="validate" name="username" ngModel required>
                <label for="username">Логин</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l6 m8 s12 offset-l3 offset-m2">
                <input id="password" type="password" minlength="3" class="validate" name="password" ngModel required>
                <label for="password">Пароль</label>
            </div>
        </div>
        <div class="row center">
            <div class="col s12 m12 l8 offset-l2 row">
                    <div class="col s12 m6 l4">
                        <a [routerLink]="['/recovery']">Забыли пароль ?</a>
                    </div>
                    <div class="col s12 m6 l4">
                        <a class="btn" [routerLink]="['/reg']">Зарегистрироваться</a>
                    </div>
                    <div class="col s12 m6 l4">
                        <input class="btn center" type="submit" [disabled]="loginForm.invalid" value="Войти" />
                    </div>                    
            </div>
        </div>

    </form>
</div>