.productName{
    font-size: 1.7em;
    font-weight: bold;
}

.buy_position{
    margin-top: 2%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 33px;
  padding: 0;
  margin: 0;
  background-color: #eee;
  border: 1px solid grey;
  border-radius: 5px;
}

.minus, .plus{
    cursor: pointer;
    background-color: #b2dfdb;
    border: 1px solid grey;
    border-radius: 3px;
    width: 20px;
    height: 35px;
    padding-left: 5px;
}

.bold{
    font-size: 1.3em;
    font-weight: 500;
}

.stripped{
    text-decoration: line-through;
    color: #1e88e5;
}

.price{
    color: #4527a0;
    font-weight: 700;
}

.no_margin{
    margin: 0;
}