<div class="section">
    <ul class="z-depth-4 banners">
        <li>
            <p class="menu_header center cyan lighten-2 deep-purple-text text-darken-3 no_pointer">Найдите нас в:</p>
        </li>
        <li>
            <div class="row no_margin">
                <div class="col s4 no_padding">
                    <a rel=“nofollow” target="_blank" href="https://www.facebook.com/groups/126980637857872/">
                        <img title="Facebook" class="responsive-img pointer elem_soc_net" src="/assets/socnet/facebook2.png">
                    </a>
                </div>
                <div class="col s4 no_padding">
                    <a rel=“nofollow” target="_blank" href="https://vk.com/vk_podsolnyh">
                        <img title="Вконтакте" class="responsive-img pointer elem_soc_net" src="/assets/socnet/vk2.png">
                    </a>
                </div>
                <div class="col s4 no_padding">
                    <a rel=“nofollow” target="_blank" href="https://www.instagram.com/podsolnyh.com.ua/">
                        <img title="Instagram" class="responsive-img pointer elem_soc_net" src="/assets/socnet/instagram2.png">
                    </a>
                </div>
                <div class="col s4 no_padding">
                    <a rel=“nofollow” target="_blank" href="https://invite.viber.com/?g=Uts09_TCw0TJimTpo8AkFnt81KsuZWHl">
                        <img title="Viber" class="responsive-img pointer elem_soc_net" src="/assets/socnet/viber.png">
                    </a>
                </div>
                <div class="col s4 no_padding">
                    <a rel=“nofollow” target="_blank" href="https://t.me/joinchat/AAAAAElpXuHepTlhI2mGTA">
                        <img title="Telegram" class="responsive-img pointer elem_soc_net" src="/assets/socnet/telegram.png">
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>